.outerwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
  }

  .innerwrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .modalheader {
    display: flex;
    justify-content: right;
  }
  
  .closebutton {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    background: none repeat scroll 0 0 transparent;
    border: none;
    cursor: pointer;
  }